//- mixins from https://webdesign.tutsplus.com/tutorials/baking-bootstrap-snippets-with-jade--cms-22798
//- Navbar mixins
mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    nav( role="navigation", class=["navbar", "navbar-" + style] )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")= name

        .collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav
                block

mixin nav_item(href, active)
    li(class=active): a( href=href )
        block

mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block

mixin nav_divider
    li.divider

mixin nav_header
    li.dropdown-header
        block

//- End navbar mixins

//- Button mixin
mixin button(style, href, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"
 
    a( class=["btn", "btn-" + style, size], href=href )
        block
//- End of Button mixin

mixin checkbox(text,name,id,val)
    .checkbox
        input(type="checkbox",name=name,id=id,value=val)
        = text

mixin showAlert(alerts)
  for alert in alerts
    div #{alert}
    
//- Panel mixin
mixin panel(heading, style)
  div(class=["panel", "panel-" + style])
    .panel-heading= heading
    .panel-body
          block 
